.App {
  text-align: center;
  display: flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

table {
  border: 0.5px solid;
  width: 10em;
  height: 10em;
  padding: 10px;
  margin-top: 3rem;
  margin-left: 3rem;
}
  
th {
  border-bottom: 1px solid black;
}

tr {
  border: 1px solid black;
}
td {
  text-align: center;
  border: 1px;
}
button{
  margin-left: 3rem;
  margin-top: 2rem;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
